body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: white;
}

.content {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	top: 0;
	width: 105%;
}

.content p {
	font-size: 2.5rem;
	font-weight: 600;
}

h1 {
	font-size: 36px;
}

p {
	font-size: 18px;
}
.img {
	height: 100%;
}
.root {
	position: relative;
	height: 100vh;
	width: 818px;
	margin: 0 auto;
	overflow: hidden;
}

.d-none {
	display: none;
}

.button-group {
	display: flex;
}

.paint-lady-down {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 38%;
	left: 9%;
}

.paint-caravaggio {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 55%;
	left: 9%;
}

.lamp {
	position: absolute;
	height: 160px;
	width: 80px;
	top: 20%;
	left: 35%;
}

.paint-velazquez {
	position: absolute;
	height: 325px;
	width: 200px;
	top: 25%;
	right: 1%;
}

.transparent-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: transparent;
	text-decoration: none;
	font-size: 16px;
	transition: background-color 0.3s, color 0.3s;
	height: 100%;
	width: 100%;
    border: none;
}

.transparent-button:hover {
	border: 2px solid #3498db;

}

.inventory {
	position: fixed;
	top: 0;
	background-color: #8e8e8e;
	border: 2px solid #777;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: inline-block;
	width: 200px;
}
